<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        nav {
        background-color:black
        }


    </style>
    <title></title>
</head>
<body><nav class="navbar bg-dark">
  <a class="navbar" href="#">Property Arena</a>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
    </ul>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Page 1</a></li>
    </ul>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Page 2</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Sing Up </a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Log In</a></li>
    </ul>




</nav>

 {% block body %}
 {% endblock %}
</body>
</html>